DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=test
DB_PORT=3310

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=931ae669e26016
MAIL_PASSWORD=cce701352859af
MAIL_FROM=from@example.com
MAIL_TO=to@example.com

MAIL_FROM_ADDRESS=mypage@admin.com
MAIL_FROM_NAME=Admin
